html{
    scroll-behavior: smooth;
}

.bg-imagen {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1)),
    url('../data/trama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
}

.logo-inicio {
    display: block;
    position: relative;
    max-height: 80%;
    max-width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(5px 5px 12px #222);

}

.carousel-custom{
    max-height: 580px; 
    background-image: url('../data/trama-neg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    padding-bottom: 50px;
}

.carousel-item img{
    position: relative;
    top: 10px;
    margin: 0 auto;
    max-width: 700px;
    width: auto;
    height: auto;
}

.botonEnviar {
    background-color: rgb(100,190,224);
    border: rgb(64, 179, 224);
}

#redesSociales{
    font-size: 2em;
}

#footer{
    background-color: rgb(81, 153, 179);
}

.anclaje{
    position: relative;
    bottom: 65px;
}